body {font-family: Tahoma;}

#me {
    height: 361px;
    width: 341px;
}

figure {margin-left: 25px;}

figcaption {text-align: center;}

.icon {
    width: 20px;
    height: 20px;
}

aside {
    float: left;
    width: 22%;
    padding-left: 15px;
    margin-left: 15px;
    background-color: dimgrey;
    color: lightgrey;
    margin-right: 260px;
}

.section-title {
    border: 2px solid lightgrey;
    text-align: center;
    margin: 10px 15px 10px 0px;
    font-size: 24px;
}

.main-title {
    border: 2px solid dimgrey;;
    text-align: center;
    font-size: 24px;
    margin: 0px 500px 10px 700px;
}

a:link {
    text-decoration: none;
    color: lightgrey;
}

a:hover {
    color: lightblue;
    text-decoration: underline;
}

article {
    margin: 0px 500px 10px 700px;
}